.footer
  .footer__social
    h2 Let's Connect
    p Contact Me About Working Together
    p
      a(href="tel:+1-518-406-8664") P: 518.406.8664 
    p
      img(src=`${baseUrl}asset/image/roberto-blake-email.png`, alt="Roberto Blake e-mail.")
    ul
      each social in data.footer
        li.social__item
          a.social__icon(
            href=social.href, 
            title=social.label
          )
          p.footer__description=social.description
  p Copyright &copy; 2017 - All Rights Reserved
  p
    a.footer__link(href=`${baseUrl}`) Roberto Blake