extends _component/layout/layout
block config
  -
    let title=`Roberto Blake Replica`;
    let description=`This is a showcase of a website replica`;

block content
  include _component/mixin/link
  .header__wrapper
    h1 ROBERTO BLAKE / CREATIVE ENTREPRENEUR / SPEAKER
    .header__panel
      .header__body
      .header__footer
        h2 Download My Free E-book on Personal Branding!
        a.header__download(
          href="join-newsletter.php",
          title="Download Free Personal Branding Book"
        ) DOWNLOAD 
  .landing__content
    hr
    h3 ROBERTO BLAKE HELPS BUILD BRANDS
    p Roberto Blake is a Creative Entrepreneur helping businesses, brands and influencers market themselves effectively through content strategy and engagment.
    p Roberto has produced over 1200 online videos and has background in advertising, marketing managment and brand design.
    p He is the head of Create Awesome Media, a digtial agency speicalizing in Video Marketing Strategy and the founder of Awesome Creator Academy, an education platform helping online entrepreneurs and influencers.
    p His work has been recognized by #[+link("https://www.forbes.com/sites/markfidelman/2016/09/06/20-must-watch-youtube-channels-that-will-change-your-business/","Forbes","Forbes")], #[+link("https://consent.yahoo.com/collectConsent?sessionId=3_cc-session_2fe3ca6b-ef6b-45bc-978f-cece28d2252d&lang=en-us&inline=false","Huffington Post","Huffington Post")], #[+link("https://blogs.adobe.com/creativecloud/tag/roberto-blake/","Adobe","Adobe")] and #[+link("http://www.photoshopcreative.co.uk/image/47806/feel_the_noise","Photoshop Creative Magazines","Photoshop Creative Magazines")].
    p He is a speaker at events like #[strong VIDCON] and #[strong VIDSUMMIT]
    hr
    .youtube-video-16-by-9
      iframe(
        width="100%",
        height="100%", 
        src="https://www.youtube.com/embed/dxAhKLg87Gs",
        frameborder="0",
        allow="accelerometer; autoplay;encrypted-media; gyroscope; picture-in-picture",
        allowfullscreen)
    .text__wrapper
      p Creative Entrepreneurship is something that I'm very passionate about. In the new economy the ability to create and connect is presenting new opportunties and I want to help educate people to find their place in these new markets and make the most of their potential.

      p In addition to developing a strong personal brand through my work as an online educator and speaker, and founded Awesome Creator Academy to work one on one with other entrepreneurs and influencers to help the navigate brand building and business.

      p #[em "Creating something meaningful validates all that we do, because it allows us to throw everything we have at turning a thought into a thing."]

      hr

      h3 What People Are Saying About Roberto...

      p #[em "There are many influencers and experts in the digital space but Roberto Blake truly does stand out from the rest. Roberto is incredibly dedicated to his craft and is persistent in creating relatable and useful content for his followers. Not only is Roberto great at what he does, he is very generous at giving his time sharing insight with his community."] #[strong Chelsea Krost Co-founder MPulse]

      p #[em "He has a real passion for creative entrepreneurship and empowering others, and the community he’s built around his creative philosophy is a reflection of his commitment to his following."] #[strong Jared Kleinert-Forbes]